<h1>Welcome to Vet Clinic...</h1>
<%= link_to "New Patient? Signup", new_customer_path %>
<div class="form_class"><%= form_tag(signin_path, method: :post) do %>
        <%= label_tag :name %>
	    <%= text_field_tag :name %>
	    <%= label_tag :email %>
	    <%= email_field_tag :email %>
	    <%= label_tag :password %>
        <%= password_field_tag :password %>
	    <%= submit_tag "login" %>
	  <%end%>
</div>
